# Core
numpy
opencv-python
pillow

# IA
torch
torchvision
tensorrt  # Pour Jetson
onnx
onnxruntime

# API
fastapi
uvicorn
websockets
# Base de données
sqlalchemy
asyncpg
redis

# Utilitaires
pydantic
pyyaml
loguru